* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black; /* Color de texto negro */
}

body {
    background-color: white; /* Fondo blanco */
    display: grid;
    grid-template-areas: 
    "nav" 
    "main" 
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 
    70px 
    1fr 
    70px;
    height: 100vh;
}

  nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px;
  }

  nav .logo {
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  nav .logo:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in;
    background-color: rgb(68, 160, 235);
    color: black;
    border-radius: 5px;
  }

  nav .logo i {
    font-size: 30px;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-family: "revicons", sans-serif;
    font-size: small;
}

nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
  }

  li:hover {
    background-color: white;
  }
  nav li a {
    color: black;
    text-decoration: none;
  }

  nav .barra i {
    font-size: 20px;
    display: none;
  }

  body main {
    grid-area: main;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh-140px);
    align-items: center;
  }

main .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    padding: 16px;
}

.card figure img:hover {
    transform: scale(1.0);
    transition: all 0.5s ease-in;
}

main .card figure img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 100%;
}

main .card-body {
    padding: 10px;
    width: 100%;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
    font-family: Helvetica", Arial, Helvetica, sans-serif;
}

main .card-body h3 {
    padding: 5px;
}

main .card-body p {
    padding: 5px;
}

main .card-body button {
    padding: 5px;
    width: 80%;
    font-size: larger;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.card-body button:hover {
    background-color: rgb(50, 169, 205);
    color: rgb(7, 6, 6);
}

/* Contacto */
  
#Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer .redes-soc {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer .social-media {
    display: flex;
    gap: 25px;
}

footer i {
    font-size: 30px;
}

footer .fa-square-facebook {
    color: rgb(0, 0, 0);
}
footer .fa-square-facebook:hover {
    color: rgb(4, 4, 114);
    transform: scale(1.5);
    transition: all 0.5s ease-in;
}

footer .fa-square-instagram {
    color: rgb(0, 0, 0);
}
footer .fa-square-instagram:hover {
    color: rgb(100, 5, 76);
    transform: scale(1.5);
    transition: all 0.5s ease-in;
}

footer .fa-square-youtube {
    color: rgb(0, 0, 0);
}
footer .fa-square-youtube:hover {
    color: rgb(233, 10, 10);
    transform: scale(1.5);
    transition: all 0.5s ease-in;
}



footer .location {
    display: flex;
    gap: 5px;
    padding: 2px;
    align-items: flex-end;
}

footer .location p {
    display: contents;
}

footer .location i {
    font-size: 20px;
}
footer p {
    display: none;

}


/* tablet */
@media (min-width: 576px) and (max-width: 992px) {
    body {
      grid-template-areas: 
      "nav main"  
      "nav footer";
      grid-template-columns: 120px 1fr;
      grid-template-rows: 
      1fr 
      70px;
    }

    body main {
        grid-area: main;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
    }

    body main .card {
        padding: 15px;
    }

    main .tours {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    main .volcanes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    main .cerros {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    main .expediciones {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    nav {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        background-color: rgb(18, 184, 235);
        justify-content: flex-start;
        gap: 30px;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    nav ul {
        text-decoration: none;
        color: black;
    }

    nav .logo {
        display: flex;
        padding-top: 20px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    nav .barra {
        display: none;
    }

    nav ul li {
        transition: background-color 0.2s ease out;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
        font-size: medium;
      }
    
      li:hover {
        background-color: white;
      }

    footer {
        background-color: white;
        color: rgb(4, 162, 253);
        display: flex;
    }

    footer i {
        font-size: 35px;
    }

    footer p {
        display: none;
        font-size: smaller;
    }
}

/* desktop */
@media (min-width: 992px) {
    body {
      grid-template-areas: 
      "nav"
      "main" 
      "footer" ;
      grid-template-columns:1fr;
      grid-template-rows: 70px 1fr 70px;
    }

    body main {
        grid-area: main;
    }

    body main .card {
        padding: 20px;
    }
    
    main .tours {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    main .volcanes {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    main .cerros {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    main .expediciones {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    nav .logo:hover {
        transform: scale(1.0);
        transition: all 0.5s ease-in;
        background-color: rgb(6, 115, 148);
        color: rgb(254, 255, 254);
        border-radius: 5px;
        padding: 5px;
      }

    nav ul {
        gap: 30px;
        font-size: larger;
        padding-right: 20px;
        display: contents;
        display: flex;
    }
    
    nav li a {
        text-decoration: none;
        color: black;
    }

    nav .barra {
        display: none;
    }

    footer p {
        display: contents;
        font-size: 15px;
    }

    footer .redes-soc {
        display: flex;
    }

    footer i {
        font-size: 30px;
    }
}}